body{
    font-family: 'Times New Roman', Times, serif, 'Roboto', sans-serif;
}

body.bg{
    background-image: url(img/vueLogin.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

 .signup-box{

    width: 360px;

    height: 500px;

    margin: 0px auto;

    border-radius: 7px;

    background-color: rgba(0, 0, 0, 0.9); 

 }

 .login-box{

     width: 360px;

     height: 320px;

     margin: auto;

     border-radius: 7px;

     background-color: rgba(0, 0, 0, 0.9); 

 }
 label{
     color: #FCDD44;
     text-decoration: double;
 }

 h1{

     text-align: center;

     padding-top: 15px;
     color:#FCDD44;
 }

 h4{

     text-align: center;

 }

 form{

     width: 300px;

     margin-left: 20px;

 }

 .input {
    height: 45px;
    width: 90%;
    margin: 25px 5%;
    position: relative;
  }
  .input input {
    width: 94%;
    height: 100%;
    border: none;
    padding-left:12px;
    border: 2px solid #dee2e3;
    border-radius: 3px;
  }

  .input label {
    position: absolute;
    bottom: 10px;
    padding: 2px;
    color: #adadad;
    text-align: center;
    left: 10px;
    pointer-events: none;
  }
  .input input:focus,.box .input input:valid {
    border: 2px solid #ffee00;
    transition: 0.3s;
  }
  .input input:focus ~ label,
  .input input:valid ~ label {
    transform: translateY(-30px);
    transition: 0.3s;
    font-size: 20px;
    color: #ffee00;
    background: rgba(255, 255, 255, 0);
    font-weight: bold;
  }
  .input #eye{
    position: absolute;
    right: 10px;
    bottom: 12px;
    font-size:20px;
  }

 button{

     width: 320px;

     height: 35px;

     margin-top: 20px;

     border: none;

     background-color: #FCDD44;

     color: #000000;

     font-size: 18px;

     border-radius: 5px;

 }
 button:hover{
    background-color: #f7cd00;
    font-size: 20px;
    font-weight: bold;
 }
 p{

     text-align: center;

     padding-top: 20px;

     font-size: 15px;

     color: #000000;
 }

 .para-2{

     text-align: center;

     font-size: 18px;
   
     margin-top: -10px; 

     font-weight: bolder;

 }
.white{
    color: white;
}

 .para-2 a{
    font-size: 20px !important;
    color: #FCDD44;
    font-weight: lighter;
 }

 .para-2 a:focus{
    font-size: 20px !important;
    color: #352301 !important;
    font-weight: lighter;
 }

 .para-2 a:hover{
    font-size: 21px !important;
    color: #c27e00;
    font-weight: lighter;
 }

.position{
    position:  fixed;
    width: 370px;
    margin-top: 10px; 
 }
